extends layout/main

block content
    .form-container
        form(action=`/file${routes.fileUpload}`, method="post", entype="multipart/form-data")
            input(type="file", name="filename")
            input(type="submit", value="upload")
